{% assign cur_url = page.url %}
{% assign url_length = page.url | size | minus: 4 %}
{% assign url_prefix = page.url | slice: 0,4 %}
{% if url_prefix == "/en/" %}
  {% assign cur_url = cur_url | slice: 4, url_length %}
{% endif %}
{% assign url_parts = cur_url | split:'.' %}
{% assign num_url_parts = url_parts | size %}
{% if num_url_parts >= 2 and url_parts[1] == "html" %}
  {% assign cur_url = url_parts[0] %}
{% endif %}
{% assign is_english = false %}
{% if url_prefix == "/en/" %}
  {% assign is_english = true %}
{% endif %}

<div class="container-fluid  nav-container">
    <div class="container">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <div class="d-flex flex-row align-items-center">
            <img class="logo" src="{{ site.baseurl }}/assets/images/dobruvane-logo.png">
            <div class="logo-title">
              {% include logo/text-logo-bg.svg %}
            </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon"></span>-->
        {% include hamburger.html %}
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex flex-column w-100 align-items-lg-end">
          
          <!-- First row -->
          <ul class="navbar-nav flex-column flex-lg-row mb-1">
            {% if cur_url == "/" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
            <li class="nav-item">
              <a class="nav-link {{ active }}" aria-current="page" href="/">Начало</a>
            </li>
            <li class="nav-item">
              {% if cur_url == "/about" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
              <a class="nav-link {{ active }}" href="/about">За мен</a>
            </li>
            <li class="nav-item dropdown dropdown-menu-end">
              {% assign instruments = "/consulting,/psychotherapy,/psychodrama,/trainings,/communication,/organisations" %}
              {% assign instruments_arr = instruments | split: "," %}
              {% if instruments_arr contains cur_url %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
              <a class="nav-link dropdown-toggle {{ active }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Инструменти за Добруване
              </a>
              <ul class="dropdown-menu">
                {% if cur_url == "/consulting" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
                <li><a class="dropdown-item {{ active }}" href="/consulting">Психологическо консултиране</a></li>
                {% if cur_url == "/psychotherapy" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
                <li><a class="dropdown-item {{ active }}" href="/psychotherapy">Психотерапия</a></li>
                {% if cur_url == "/psychodrama" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
                <li><a class="dropdown-item {{ active }}" href="/psychodrama">Психодрама работилници</a></li>
                {% if cur_url == "/trainings" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
                <li><a class="dropdown-item {{ active }}" href="/trainings">Обучения за екипност и работа в екип</a></li>
                {% if cur_url == "/communication" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
                <li><a class="dropdown-item {{ active }}" href="/communication">Обучения и консултиране в крос-културни различия и междукултурна комуникация</a></li>
                {% if cur_url == "/organisations" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
                <li><a class="dropdown-item {{ active }}" href="/organisations">Консултиране на екипи и организации</a></li>
              </ul>
            </li>
          </ul>
      
          <!-- Second row -->
          <ul class="navbar-nav flex-column flex-lg-row">
            <li class="nav-item">
              {% if cur_url == "/wisdom" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
              <a class="nav-link {{ active }}" href="/wisdom">Съкровищница на мъдростта</a>
            </li>
            <li class="nav-item">
              {% if cur_url == "/contact" %}{% assign active = "active" %}{% else %}{% assign active = "" %}{% endif %}
              <a class="nav-link {{ active }}" href="/contact">Свържете се е мен</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/en{{ cur_url }}">EN</a>
            </li>
          </ul>
      
        </div>
      </div>
      
    </div>
  </nav>

</div>
</div>